Repository nathansolomon1678/programmer-training, pull requests merged in 2018-05, with the labels that each got.

#12 General lessons
  general/lessons/loops/README.md
Labels: general, markdown

#7 Veteran README.md
  veteran/README.md
Labels: markdown, robot-veteran

#2 Vim Lesson
  general/lessons/vim/:sp_example.png
  general/lessons/vim/:vsp_example.png
  general/lessons/vim/README.md
Labels: general, markdown

#21 Add Jekyll
  .gitignore
  404.html
  Gemfile
  README.md
  _layouts/default.html
  assets/images/OctoCat.png
  assets/images/robot.png
  assets/images/sp_example.png
  assets/images/vsp_example.png
  contributing.md
  general/assignments/README.md
  general/lessons/getting-started/README.md
  general/lessons/loops/funny-joke/README.md
  general/lessons/vim/README.md
  robot/README.md
Labels: HTML, enhancement, markdown

#4 GitHub lessons
  general/lessons/git/README.md
Labels: general, markdown

#8 Variables Lesson
  general/lessons/variables/README.md
Labels: general, markdown
